footer{
    background-color:  #ff60ad;
  
}

body {
    background: #ff60ad; /*#555;*/
}

.content {
    max-width: 500px;
    margin:auto;
    background-color:  #ff60ad; /*#1A5276!important;*/
    padding: 10px;
    Text-align:center;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #ff60ad;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ff60ad;
}

.active {
    background-color: #ff60fd;
}
@media only screen and (max-device-width : 320px)
   .content {
    max-width: 250px;
    margin: auto;
    background: white;
    padding: 10px;
}
@media screen (max-width: 600px){
    ul.topnav ul.right, 
    ul.topnav li {float: none;}
}
