.bodystyle{
  background-color:	 #FFB6C1; 
  color:#333;
  text-align:center;
    
}
.bar{
   text-align:center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ff60ad;
    background-color: #ff60ad;
}
