
.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.img_1-1{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Pink_Windbreaker.png');}
.img_1-2{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Black_Windbreaker.png');}
.img_1-3{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/LightBlueJeans.png');}
.img_1-4{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Sports_Undershirt.png');}
.img_1-5{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Floral_Striped_Shorts.png');}

.img_2-1{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Branded_GreySweatpants.png');}
.img_2-2{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Black_CroppedHoodie.png');}
.img_2-3{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/MinGreen_HoodieArmDecor.png');}
.img_2-4{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/CroppedMintGreen_Hoodie.png');}
.img_2-5{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Pink_Undergarment.png');}

.img_3-1{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Black_Undergarment.png');}
.img_3-2{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Peach_CroppedTee.png');}
.img_3-3{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Burgundy_Sweater.png');}
.img_3-4{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Wednesday_WearPinkshirt.png');}
.img_3-5{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Windbreaker_ElectricPurple.png');}


.img_4-1{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Windbreaker_PinkJacket.png');}
.img_4-2{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/LightJeans_WPinkUndies.png');}
.img_4-3{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Branded_ShortsShortsPink.png');}
.img_4-4{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/SleepLate_BlackLongSleeve.png');}
.img_4-5{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Windbreaker_LghtBlueJacket.png');}


.img_5-1{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Yoga_BrandedPants.png');}
.img_5-2{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/Branded_CropTopBlack.png');}
.img_5-3{background-image:url('https://jdc20181.github.io/PinkFashions/Pics/VelvetWhite_LongSleeve.png');}

